@{
    ViewData["Title"] = "ConfirmedOrder";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Your Order is Complete!</h2>

    <p>Thank you for your order! Lexi will contact you with a delivery date soon.</p>

</body>
</html>