@{
    ViewData["Title"] = "ConfirmedOrder";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Your Order is Complete!</h2>

    <p>Thank you for your order! Lexi will contact you with a delivery date soon.  You'll receive an email with order details from Lexi.  Please check your Spam folder to ensure emails are being delivered.</p>

    <div class="text-center">
        <img src="~/images/lexi.jpg" class="img-rounded" />
    </div>



</body>
</html>