@{
    ViewData["Title"] = "Problems with the site?";
}
<h2>@ViewData["Title"]</h2>

<p>
    If you are having problems with the site, please e-mail Lexi at
    <a href="mailto:lexithecookiegirl@gmail.com">lexithecookiegirl@gmail.com</a>
    and provide the following information.
    <ul>
        <li>Name</li>
        <li>Address (and city)</li>
        <li>Number of boxes (and what kind)</li>
    </ul>
</p>

