@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Questions/Need to Email?:</strong> <a href="mailto:lexithecookiegirl@gmail.com">lexithecookiegirl@gmail.com</a>
</address>
