@model CookieOrderViewModel

@{
    ViewData["Title"] = "CookieOrder";
}
<h2>Your Order</h2>


@using (Html.BeginForm("CookieOrder", "Home", FormMethod.Post, new { id = "cookieOrder" }))
{
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" placeholder="Where can I deliver your cookies?" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" placeholder="Enter your city (no state)" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" placeholder="Enter your email address (me@email.com)" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label>Boxes ordered:</label>

        @if (Model != null)
        {
            @foreach (CookieOrder cookieOrder in Model.CookieOrders)
            {
                <div>
                    @Html.Label(Model.Cookies[cookieOrder.CookieId - 1].Name + ":")
                    @Html.Label(cookieOrder.NumberOfBoxes.ToString())
                </div>
            }

            <div>
                <label asp-for="TotalDue">Total Due: $@Model.TotalDue</label>
            </div>
        }
    </div>



    <p>
        <input asp-for="OrderId" type="hidden" />
        <input type="submit" value="Confirm Order" />
    </p>
}

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function () {
        $("#cookieOrder").validate({
            rules: {
                'Name': {
                    required: true
                },
                'Address': {
                    required: true
                },
                'City': {
                    required: true
                },
                'Email': {
                    required: true,
                    email: true
                }
            },

            messages: {
                'Name': {
                    required: "Please enter a name."
                },
                'Address': {
                    required: "Please enter an address."
                },
                'City': {
                    required: "Please enter a city (no state)"
                },
                'Email': {
                    required: "Please enter an e-mail address",
                    email: "Please enter a valid e-mail address."
                }
            }
        });
    })

</script>