body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.gridContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.btn-primary {
    margin: 15px 15px;
}

.cookieItem {
    text-align: center;
    margin: 10px 10px 10px 0;
    border: 1px dotted #00ae58;
    background: linear-gradient(to bottom right, #b5e2cc, #00ae58);
}

.navbar-inverse {
    background: linear-gradient(to bottom right, #b5e2cc, #00ae58);
    border: none;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.cookieTitle {
    font-size: 18px;
}
